<div class="features-section">
  <h2>GoRide the Best AI Dispatch Software</h2>
  <p>Explore the Powerful Capabilities of Bike</p>

  <div class="features-grid">
    <div class="feature-card">
      <img src="assets/images/img11.png" alt="Car Image" class="car-image" />
    </div>

    <div class="feature-card">
      <img src="assets/images/img12.png" alt="Car Image" class="car-image" />
    </div>

    <div class="feature-card">
      <img src="assets/images/img4.jpeg" alt="Car Image" class="car-image" />
    </div>

    <div class="feature-card">
      <img src="assets/images/img5.jpeg" alt="Car Image" class="car-image" />
    </div>

    <div class="feature-card">
      <img src="assets/images/img15.gif" alt="Car Image" class="car-image" />
    </div>
  </div>
</div>
